<div class="c_txt">
    <span>{{name}}</span><br/>
    <p class="mtb10 t-i2em">{{description}}</p>
    {{#if telephone}}
		电话：{{telephone}}<br/>
	{{/if}}
	{{#if fax}}
		传真：{{fax}}<br/>
	{{/if}}
	{{#if email}}
		邮箱：{{email}}<br/>
	{{/if}}
	{{#if address}}
		地址：{{address}}<br/>
	{{/if}}
</div>