<div class="foot">
    <div class="main">
        <div class="f_right">
            <div class="area1">公司：{{name}}<br>邮箱：{{email}}</div>
            <div class="area2">传真：{{fax}}<br>电话：{{mobile}}</div>
            <div class="area3">地址：{{province}} {{city}} {{area}} {{address}}</div>
        </div>
    </div>
</div>
<div class="copyright">{{copyright}}</div>