<div id="news_list" class="news_list">
    <ul class="time1">
    	{{#each items}}
        <li>
            <a href="./content.html?t={{index}}&c={{contentSource}}&tmp=001&ct=ele&code={{code}}" class="time1" target="_blank">
                <div class="pic">
                    <img src="{{picture1}}" class="time1">
                </div>
                <div class="n_wz">
                    <div class="n_title time1">
                        <span class="wz">{{title}}</span>
                    </div>
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</div>
<div id="pagination_div"></div>
<div class="hen"></div>